{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smart Vending Machine</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Smart Vending Machine</h1>

  <a href="/admin-panel/" class="admin-btn">Go to Admin Panel</a>

  <div class="main-container">
    <div class="container">
      <div class="box" onclick="window.location.href='/customize/coffee/'">Coffee</div>
      <div class="box" onclick="window.location.href='/customize/tea/'">Tea</div>
      <div class="box" onclick="window.location.href='/customize/milk/'">Milk</div>
    </div>

    <div class="status-panel">
      <h2>Status</h2>
      <ul>
        {% for ingredient in ingredients %}
        <li>
          {{ ingredient.name|title }}
          <span>{{ ingredient.quantity }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>
